html {
  overflow: hidden;
  font-family: sans-serif, Arial, Helvetica;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  text-align: center;

  max-width: 800px;
  padding: 20px;
  background-color: rgba(000, 000, 000, 0.5);
  color:white;
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

div.content {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}